html,
body {
  width: 100%;
  height: 100%;
}
body {
  background-color: #ffffff;
  color: #000000;
  font-family: Arial;
  font-weight: normal;
  font-size: 13px;
  line-height: 1.1875;
  margin: 0;
  padding: 0;
}
a {
  color: #0000ff;
  text-decoration: underline;
}
a:visited {
  color: #800080;
}
a:active {
  color: #ff0000;
}
a:hover {
  color: #0000ff;
  text-decoration: underline;
}
#wb_LayoutGrid1 {
  clear: both;
  position: relative;
  table-layout: fixed;
  display: table;
  text-align: center;
  width: 100%;
  background-color: transparent;
  background-image: none;
  border: 0px #cccccc solid;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#LayoutGrid1 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0px 0px 0px 0px;
  margin-right: auto;
  margin-left: auto;
}
#LayoutGrid1 .row {
  margin-right: 0;
  margin-left: 0;
}
#LayoutGrid1 .col-1,
#LayoutGrid1 .col-2 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 0px;
  min-height: 1px;
  padding-right: 0px;
  padding-left: 0px;
  position: relative;
}
#LayoutGrid1 .col-1,
#LayoutGrid1 .col-2 {
  float: left;
}
#LayoutGrid1 .col-1 {
  background-color: transparent;
  background-image: none;
  width: 8.33333333%;
  text-align: left;
}
#LayoutGrid1 .col-2 {
  background-color: transparent;
  background-image: none;
  width: 91.66666667%;
  text-align: right;
}
#LayoutGrid1:before,
#LayoutGrid1:after,
#LayoutGrid1 .row:before,
#LayoutGrid1 .row:after {
  display: table;
  content: " ";
}
#LayoutGrid1:after,
#LayoutGrid1 .row:after {
  clear: both;
}
@media (max-width: 480px) {
  #LayoutGrid1 .col-1,
  #LayoutGrid1 .col-2 {
    float: none;
    width: 100%;
  }
}
#Line28 {
  border-color: transparent;
  border-style: solid;
  border-width: 57px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  height: 0;
  line-height: 0px !important;
  margin: 0;
  padding: 0;
}
#Line29 {
  border-color: transparent;
  border-style: solid;
  border-width: 44px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  height: 0;
  line-height: 0px !important;
  margin: 0;
  padding: 0;
}
#wb_Text5 {
  background-color: transparent;
  background-image: none;
  border: 0px #000000 solid;
  padding: 0;
  margin: 0;
  text-align: center;
}
#wb_Text5 div {
  text-align: center;
}
#Line32 {
  border-color: transparent;
  border-style: solid;
  border-width: 34px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  height: 0;
  line-height: 0px !important;
  margin: 0;
  padding: 0;
}
#Panel_Layer {
  background-color: #343c49;
  background-image: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#Panel_Layer_panel {
  background-color: #343c49;
  background-image: none;
  display: none;
  position: fixed;
  top: 0;
  height: 100%;
  width: 233px;
  z-index: 9999;
}
#Banner2 {
  background-color: #343c49;
  background-image: none;
  border: 0px #000000 solid;
  color: #898d96;
  font-family: Cambria;
  font-weight: bold;
  font-size: 16px;
  text-align: left;
}
#Banner2 span {
  display: block;
  height: 16px;
  margin: 4px 0px 4px 9px;
}
#Shape1 {
  top: 0px;
  width: 47px;
  height: 47px;
  background-color: #566378;
  background-image: none;
  border: 1px #343c49 solid;
}
#Shape1:hover {
  background-color: #898d96;
  background-image: none;
  border: 1px #ffffff solid;
}
#Shape1_text {
  position: absolute;
  left: 1px;
  top: 4px;
  width: 45px;
  height: 42px;
  overflow: hidden;
  text-align: center;
}
#wb_CssMenu2 {
  border: 0px #57657b solid;
  background-color: transparent;
}
#wb_CssMenu2 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  display: inline-block;
  width: 229px;
}
#wb_CssMenu2 li {
  float: left;
  margin: 0;
  padding: 0px 0px 18px 0px;
  width: 229px;
}
#wb_CssMenu2 a {
  display: block;
  color: #898d96;
  border: 0px #343c49 inset;
  background-color: #343c49;
  background-image: none;
  font-family: Arial;
  font-weight: bold;
  font-size: 15px;
  font-style: normal;
  text-decoration: none;
  width: 204px;
  height: 35px;
  line-height: 35px;
  padding: 0px 5px 0px 20px;
  vertical-align: middle;
  text-align: left;
}
#wb_CssMenu2 li:hover a,
#wb_CssMenu2 a:hover,
#wb_CssMenu2 .active {
  color: #ffffff;
  background-color: #57657b;
  background-image: none;
  border: 0px #57657b inset;
}
#wb_CssMenu2 .firstmain a {
  margin-top: 0px;
}
#wb_CssMenu2 li.lastmain {
  padding-bottom: 0px;
}
#wb_CssMenu2 br {
  clear: both;
  font-size: 1px;
  height: 0;
  line-height: 0;
}
#wb_LayoutGrid2 {
  clear: both;
  position: relative;
  table-layout: fixed;
  display: table;
  text-align: center;
  width: 100%;
  background-color: transparent;
  background-image: none;
  border: 0px #cccccc solid;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#LayoutGrid2 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0px 15px 0px 15px;
  margin-right: auto;
  margin-left: auto;
}
#LayoutGrid2 .row {
  margin-right: -15px;
  margin-left: -15px;
}
#LayoutGrid2 .col-1,
#LayoutGrid2 .col-2,
#LayoutGrid2 .col-3 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 0px;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  position: relative;
}
#LayoutGrid2 {
  width: 1049px;
}
#LayoutGrid2 .col-1,
#LayoutGrid2 .col-2,
#LayoutGrid2 .col-3 {
  float: left;
}
#LayoutGrid2 .col-1 {
  background-color: transparent;
  background-image: none;
  width: 41.66666667%;
  text-align: center;
}
#LayoutGrid2 .col-2 {
  background-color: transparent;
  background-image: none;
  width: 25%;
  text-align: center;
}
#LayoutGrid2 .col-3 {
  background-color: transparent;
  background-image: none;
  width: 33.33333333%;
  text-align: center;
}
#LayoutGrid2:before,
#LayoutGrid2:after,
#LayoutGrid2 .row:before,
#LayoutGrid2 .row:after {
  display: table;
  content: " ";
}
#LayoutGrid2:after,
#LayoutGrid2 .row:after {
  clear: both;
}
@media (max-width: 1024px) {
  #LayoutGrid2 {
    width: 100%;
  }
  #LayoutGrid2 .col-1,
  #LayoutGrid2 .col-2,
  #LayoutGrid2 .col-3 {
    float: none;
    width: 100%;
  }
}
#Line2 {
  border-color: transparent;
  border-style: solid;
  border-width: 87px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  height: 0;
  line-height: 0px !important;
  margin: 0;
  padding: 0;
}
#wb_APbt {
  position: relative;
}
#wb_APbt,
#wb_APbt *,
#wb_APbt ::before,
#wb_APbt ::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#wb_APbt input[type="radio"] {
  position: absolute;
  padding: 0;
  margin: 0;
  opacity: 0;
  z-index: 1;
  width: 20px;
  height: 20px;
  left: 0;
  top: 0;
}
#wb_APbt label {
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  padding: 0;
}
#wb_APbt label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0;
  top: 0;
  background-color: #ffffff;
  border: 1px #4f4f4f solid;
  border-radius: 50%;
}
#wb_APbt label::after {
  display: inline-block;
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0;
  top: 0;
  padding: 0;
  text-align: center;
  line-height: 20px;
  border-radius: 50%;
  color: #ffffff;
  content: " ";
  -webkit-transform: scale(0, 0);
  -moz-transform: scale(0, 0);
  transform: scale(0, 0);
}
#wb_APbt input[type="radio"]:checked + label::after {
  background-color: #000000;
  background-image: none;
  border-color: #000000;
  -webkit-transform: scale(0.8, 0.8);
  -moz-transform: scale(0.8, 0.8);
  transform: scale(0.8, 0.8);
}
#wb_APbt input[type="radio"]:focus + label::before {
  outline: thin dotted;
}
#wb_multibt {
  position: relative;
}
#wb_multibt,
#wb_multibt *,
#wb_multibt ::before,
#wb_multibt ::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#wb_multibt input[type="radio"] {
  position: absolute;
  padding: 0;
  margin: 0;
  opacity: 0;
  z-index: 1;
  width: 20px;
  height: 20px;
  left: 0;
  top: 0;
}
#wb_multibt label {
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  padding: 0;
}
#wb_multibt label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0;
  top: 0;
  background-color: #ffffff;
  border: 1px #4f4f4f solid;
  border-radius: 50%;
}
#wb_multibt label::after {
  display: inline-block;
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0;
  top: 0;
  padding: 0;
  text-align: center;
  line-height: 20px;
  border-radius: 50%;
  color: #ffffff;
  content: " ";
  -webkit-transform: scale(0, 0);
  -moz-transform: scale(0, 0);
  transform: scale(0, 0);
}
#wb_multibt input[type="radio"]:checked + label::after {
  background-color: #000000;
  background-image: none;
  border-color: #000000;
  -webkit-transform: scale(0.8, 0.8);
  -moz-transform: scale(0.8, 0.8);
  transform: scale(0.8, 0.8);
}
#wb_multibt input[type="radio"]:focus + label::before {
  outline: thin dotted;
}
#SSID {
  border: 2px #000000 solid;
  border-radius: 4px;
  background-color: transparent;
  background-image: none;
  color: #000000;
  font-family: Arial;
  font-weight: bold;
  font-size: 13px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 4px 4px 4px 4px;
  text-align: center;
  vertical-align: middle;
}
#SSID:focus {
  border-color: #1e90ff;
  -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075),
    0px 0px 8px rgba(30, 144, 255, 0.6);
  -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075),
    0px 0px 8px rgba(30, 144, 255, 0.6);
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075),
    0px 0px 8px rgba(30, 144, 255, 0.6);
  outline: 0;
}
#Line11 {
  border-color: transparent;
  border-style: solid;
  border-width: 14px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  height: 0;
  line-height: 0px !important;
  margin: 0;
  padding: 0;
}
#presharedkey {
  border: 2px #000000 solid;
  border-radius: 4px;
  background-color: transparent;
  background-image: none;
  color: #000000;
  font-family: Arial;
  font-weight: bold;
  font-size: 13px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 4px 4px 4px 4px;
  text-align: center;
  vertical-align: middle;
}
#presharedkey:focus {
  border-color: #1e90ff;
  -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075),
    0px 0px 8px rgba(30, 144, 255, 0.6);
  -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075),
    0px 0px 8px rgba(30, 144, 255, 0.6);
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075),
    0px 0px 8px rgba(30, 144, 255, 0.6);
  outline: 0;
}
#Line14 {
  border-color: transparent;
  border-style: solid;
  border-width: 14px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  height: 0;
  line-height: 0px !important;
  margin: 0;
  padding: 0;
}
#APname {
  border: 2px #000000 solid;
  border-radius: 4px;
  background-color: transparent;
  background-image: none;
  color: #000000;
  font-family: Arial;
  font-weight: bold;
  font-size: 13px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 4px 4px 4px 4px;
  text-align: center;
  vertical-align: middle;
}
#APname:focus {
  border-color: #66afe9;
  -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075),
    0px 0px 8px rgba(102, 175, 233, 0.6);
  -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075),
    0px 0px 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075),
    0px 0px 8px rgba(102, 175, 233, 0.6);
  outline: 0;
}
#Line15 {
  border-color: transparent;
  border-style: solid;
  border-width: 14px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  height: 0;
  line-height: 0px !important;
  margin: 0;
  padding: 0;
}
#APsharedkey {
  border: 2px #000000 solid;
  border-radius: 4px;
  background-color: transparent;
  background-image: none;
  color: #000000;
  font-family: Arial;
  font-weight: bold;
  font-size: 13px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 4px 4px 4px 4px;
  text-align: center;
  vertical-align: middle;
}
#APsharedkey:focus {
  border-color: #1e90ff;
  -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075),
    0px 0px 8px rgba(30, 144, 255, 0.6);
  -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075),
    0px 0px 8px rgba(30, 144, 255, 0.6);
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075),
    0px 0px 8px rgba(30, 144, 255, 0.6);
  outline: 0;
}
#Line17 {
  border-color: transparent;
  border-style: solid;
  border-width: 44px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  height: 0;
  line-height: 0px !important;
  margin: 0;
  padding: 0;
}
#wb_Picture1 {
  vertical-align: top;
}
#Picture1 {
  border: 0px #000000 solid;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0px 0px 0px 0px;
  display: inline-block;
  width: 259px;
  height: 259px;
  vertical-align: top;
}
#scannet_Label {
  border: 2px #343c49 solid;
  border-radius: 6px;
  background-color: #343c49;
  background-image: none;
  color: #ffffff;
  font-family: Arial;
  font-weight: bold;
  font-size: 16px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 4px 4px 4px 4px;
  text-align: center;
  vertical-align: top;
}
#scannet_Label:hover {
  background-color: #808080;
  -webkit-transition: background-color 500ms ease-in-out 0ms;
  -moz-transition: background-color 500ms ease-in-out 0ms;
  transition: background-color 500ms ease-in-out 0ms;
}
#Line1 {
  border-color: transparent;
  border-style: solid;
  border-width: 14px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  height: 0;
  line-height: 0px !important;
  margin: 0;
  padding: 0;
}
#Combobox1 {
  border: 2px #343c49 solid;
  border-radius: 4px;
  background-color: transparent;
  background-image: none;
  color: #343c49;
  font-family: Arial;
  font-weight: normal;
  font-size: 16px;
  padding: 4px 4px 4px 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#Combobox1:focus {
  border-color: #1e90ff;
  -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075),
    0px 0px 8px rgba(30, 144, 255, 0.6);
  -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075),
    0px 0px 8px rgba(30, 144, 255, 0.6);
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075),
    0px 0px 8px rgba(30, 144, 255, 0.6);
  outline: 0;
}
#Line3 {
  border-color: transparent;
  border-style: solid;
  border-width: 18px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  height: 0;
  line-height: 0px !important;
  margin: 0;
  padding: 0;
}
#Label7 {
  border: 0px #cccccc solid;
  border-radius: 4px;
  background-color: transparent;
  background-image: none;
  color: #000000;
  font-family: Arial;
  font-weight: bold;
  font-size: 16px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 4px 4px 4px 4px;
  text-align: center;
  vertical-align: top;
}
#Line5 {
  border-color: transparent;
  border-style: solid;
  border-width: 6px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  height: 0;
  line-height: 0px !important;
  margin: 0;
  padding: 0;
}
#wb_stationbt {
  position: relative;
}
#wb_stationbt,
#wb_stationbt *,
#wb_stationbt ::before,
#wb_stationbt ::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#wb_stationbt input[type="radio"] {
  position: absolute;
  padding: 0;
  margin: 0;
  opacity: 0;
  z-index: 1;
  width: 20px;
  height: 20px;
  left: 0;
  top: 0;
}
#wb_stationbt label {
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  padding: 0;
}
#wb_stationbt label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0;
  top: 0;
  background-color: #ffffff;
  border: 1px #4f4f4f solid;
  border-radius: 50%;
}
#wb_stationbt label::after {
  display: inline-block;
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0;
  top: 0;
  padding: 0;
  text-align: center;
  line-height: 20px;
  border-radius: 50%;
  color: #ffffff;
  content: " ";
  -webkit-transform: scale(0, 0);
  -moz-transform: scale(0, 0);
  transform: scale(0, 0);
}
#wb_stationbt input[type="radio"]:checked + label::after {
  background-color: #000000;
  background-image: none;
  border-color: #000000;
  -webkit-transform: scale(0.8, 0.8);
  -moz-transform: scale(0.8, 0.8);
  transform: scale(0.8, 0.8);
}
#wb_stationbt input[type="radio"]:focus + label::before {
  outline: thin dotted;
}
#Line8 {
  border-color: transparent;
  border-style: solid;
  border-width: 34px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  height: 0;
  line-height: 0px !important;
  margin: 0;
  padding: 0;
}
#Label11 {
  border: 0px #cccccc solid;
  border-radius: 4px;
  background-color: transparent;
  background-image: none;
  color: #000000;
  font-family: Arial;
  font-weight: bold;
  font-size: 16px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 4px 4px 4px 4px;
  text-align: center;
  vertical-align: top;
}
#Line10 {
  border-color: transparent;
  border-style: solid;
  border-width: 6px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  height: 0;
  line-height: 0px !important;
  margin: 0;
  padding: 0;
}
#Line12 {
  border-color: transparent;
  border-style: solid;
  border-width: 19px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  height: 0;
  line-height: 0px !important;
  margin: 0;
  padding: 0;
}
#Label12 {
  border: 0px #cccccc solid;
  border-radius: 4px;
  background-color: transparent;
  background-image: none;
  color: #000000;
  font-family: Arial;
  font-weight: bold;
  font-size: 16px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 4px 4px 4px 4px;
  text-align: center;
  vertical-align: top;
}
#Line13 {
  border-color: transparent;
  border-style: solid;
  border-width: 6px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  height: 0;
  line-height: 0px !important;
  margin: 0;
  padding: 0;
}
#Line31 {
  border-color: transparent;
  border-style: solid;
  border-width: 13px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  height: 0;
  line-height: 0px !important;
  margin: 0;
  padding: 0;
}
#Button3 {
  border: 1px #ffffff solid;
  border-radius: 4px;
  background-color: #343c49;
  background-image: none;
  color: #ffffff;
  font-family: Arial;
  font-weight: bold;
  font-size: 13px;
}
#wb_LayoutGrid3 {
  clear: both;
  position: relative;
  table-layout: fixed;
  display: table;
  text-align: center;
  width: 100%;
  background-color: transparent;
  background-image: none;
  border: 0px #cccccc solid;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#LayoutGrid3 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0px 15px 0px 15px;
  margin-right: auto;
  margin-left: auto;
}
#LayoutGrid3 .row {
  margin-right: -15px;
  margin-left: -15px;
}
#LayoutGrid3 .col-1 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 0px;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  position: relative;
}
#LayoutGrid3 .col-1 {
  float: left;
}
#LayoutGrid3 .col-1 {
  background-color: transparent;
  background-image: none;
  width: 100%;
  text-align: center;
}
#LayoutGrid3:before,
#LayoutGrid3:after,
#LayoutGrid3 .row:before,
#LayoutGrid3 .row:after {
  display: table;
  content: " ";
}
#LayoutGrid3:after,
#LayoutGrid3 .row:after {
  clear: both;
}
@media (max-width: 480px) {
  #LayoutGrid3 .col-1 {
    float: none;
    width: 100%;
  }
}
#Line16 {
  border-color: transparent;
  border-style: solid;
  border-width: 229px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  height: 0;
  line-height: 0px !important;
  margin: 0;
  padding: 0;
}
#Line4 {
  border-color: transparent;
  border-style: solid;
  border-width: 26px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  height: 0;
  line-height: 0px !important;
  margin: 0;
  padding: 0;
}
#wb_Text3 {
  background-color: transparent;
  background-image: none;
  border: 0px #000000 solid;
  padding: 0;
  margin: 0;
  text-align: center;
}
#wb_Text3 div {
  text-align: center;
}
#Line36 {
  border-color: transparent;
  border-style: solid;
  border-width: 34px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  height: 0;
  line-height: 0px !important;
  margin: 0;
  padding: 0;
}
#wb_LayoutGrid4 {
  clear: both;
  position: relative;
  table-layout: fixed;
  display: table;
  text-align: center;
  width: 100%;
  background-color: transparent;
  background-image: none;
  border: 0px #cccccc solid;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#LayoutGrid4 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0px 15px 0px 15px;
  margin-right: auto;
  margin-left: auto;
}
#LayoutGrid4 .row {
  margin-right: -15px;
  margin-left: -15px;
}
#LayoutGrid4 .col-1,
#LayoutGrid4 .col-2 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 0px;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  position: relative;
}
#LayoutGrid4 {
  width: 1049px;
}
#LayoutGrid4 .col-1,
#LayoutGrid4 .col-2 {
  float: left;
}
#LayoutGrid4 .col-1 {
  background-color: transparent;
  background-image: none;
  width: 66.66666667%;
  text-align: center;
}
#LayoutGrid4 .col-2 {
  background-color: transparent;
  background-image: none;
  width: 33.33333333%;
  text-align: center;
}
#LayoutGrid4:before,
#LayoutGrid4:after,
#LayoutGrid4 .row:before,
#LayoutGrid4 .row:after {
  display: table;
  content: " ";
}
#LayoutGrid4:after,
#LayoutGrid4 .row:after {
  clear: both;
}
@media (max-width: 1024px) {
  #LayoutGrid4 {
    width: 100%;
  }
  #LayoutGrid4 .col-1,
  #LayoutGrid4 .col-2 {
    float: none;
    width: 100%;
  }
}
#Label9 {
  border: 0px #cccccc solid;
  border-radius: 4px;
  background-color: transparent;
  background-image: none;
  color: #898d96;
  font-family: Arial;
  font-weight: bold;
  font-size: 16px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 4px 4px 4px 4px;
  text-align: center;
  vertical-align: top;
}
#Line6 {
  border-color: transparent;
  border-style: solid;
  border-width: 5px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  height: 0;
  line-height: 0px !important;
  margin: 0;
  padding: 0;
}
#wb_DHCP {
  position: relative;
}
#wb_DHCP,
#wb_DHCP *,
#wb_DHCP ::before,
#wb_DHCP ::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#wb_DHCP input[type="checkbox"] {
  position: absolute;
  padding: 0;
  margin: 0;
  opacity: 0;
  z-index: 1;
  width: 25px;
  height: 25px;
  left: 0;
  top: 0;
}
#wb_DHCP label {
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  padding: 0;
}
#wb_DHCP label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 25px;
  height: 25px;
  left: 0;
  top: 0;
  background-color: #ffffff;
  border: 1px #343c49 solid;
  border-radius: 4px;
}
#wb_DHCP label::after {
  display: inline-block;
  position: absolute;
  width: 25px;
  height: 25px;
  left: 0;
  top: 0;
  padding: 0;
  text-align: center;
  line-height: 25px;
}
#wb_DHCP input[type="checkbox"]:checked + label::after {
  content: " ";
  background: url("data:image/svg+xml,%3Csvg%20height%3D%2225%22%20width%3D%2225%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20style%3D%22fill%3A%23FFFFFF%22%20transform%3D%22scale%280.014%29%22%3E%0D%0A%3Cpath%20transform%3D%22rotate%28180%29%20scale%28-1%2C1%29%20translate%280%2C-1536%29%22%20d%3D%22M1671%20970q0%20-40%20-28%20-68l-724%20-724l-136%20-136q-28%20-28%20-68%20-28t-68%2028l-136%20136l-362%20362q-28%2028%20-28%2068t28%2068l136%20136q28%2028%2068%2028t68%20-28l294%20-295l656%20657q28%2028%2068%2028t68%20-28l136%20-136q28%20-28%2028%20-68z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E")
    no-repeat center center;
  background-size: 80% 80%;
}
#wb_DHCP input[type="checkbox"]:checked + label::before {
  background-color: #343c49;
  background-image: none;
  border-color: #343c49;
}
#wb_DHCP input[type="checkbox"]:focus + label::before {
  outline: thin dotted;
}
#IP {
  border: 2px #343c49 solid;
  border-radius: 4px;
  background-color: transparent;
  background-image: none;
  color: #343c49;
  font-family: Arial;
  font-weight: bold;
  font-size: 17px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 4px 4px 4px 4px;
  text-align: center;
  vertical-align: middle;
}
#IP:focus {
  border-color: #66afe9;
  -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075),
    0px 0px 8px rgba(102, 175, 233, 0.6);
  -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075),
    0px 0px 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075),
    0px 0px 8px rgba(102, 175, 233, 0.6);
  outline: 0;
}
#Line9 {
  border-color: transparent;
  border-style: solid;
  border-width: 18px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  height: 0;
  line-height: 0px !important;
  margin: 0;
  padding: 0;
}
#SUBNET {
  border: 2px #343c49 solid;
  border-radius: 4px;
  background-color: transparent;
  background-image: none;
  color: #343c49;
  font-family: Arial;
  font-weight: bold;
  font-size: 17px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 4px 4px 4px 4px;
  text-align: center;
  vertical-align: middle;
}
#SUBNET:focus {
  border-color: #66afe9;
  -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075),
    0px 0px 8px rgba(102, 175, 233, 0.6);
  -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075),
    0px 0px 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075),
    0px 0px 8px rgba(102, 175, 233, 0.6);
  outline: 0;
}
#Line18 {
  border-color: transparent;
  border-style: solid;
  border-width: 18px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  height: 0;
  line-height: 0px !important;
  margin: 0;
  padding: 0;
}
#GATEWAY {
  border: 2px #343c49 solid;
  border-radius: 4px;
  background-color: transparent;
  background-image: none;
  color: #343c49;
  font-family: Arial;
  font-weight: bold;
  font-size: 17px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 4px 4px 4px 4px;
  text-align: center;
  vertical-align: middle;
}
#GATEWAY:focus {
  border-color: #66afe9;
  -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075),
    0px 0px 8px rgba(102, 175, 233, 0.6);
  -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075),
    0px 0px 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075),
    0px 0px 8px rgba(102, 175, 233, 0.6);
  outline: 0;
}
#Line19 {
  border-color: transparent;
  border-style: solid;
  border-width: 18px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  height: 0;
  line-height: 0px !important;
  margin: 0;
  padding: 0;
}
#DNS {
  border: 2px #343c49 solid;
  border-radius: 4px;
  background-color: transparent;
  background-image: none;
  color: #343c49;
  font-family: Arial;
  font-weight: bold;
  font-size: 17px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 4px 4px 4px 4px;
  text-align: center;
  vertical-align: middle;
}
#DNS:focus {
  border-color: #66afe9;
  -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075),
    0px 0px 8px rgba(102, 175, 233, 0.6);
  -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075),
    0px 0px 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075),
    0px 0px 8px rgba(102, 175, 233, 0.6);
  outline: 0;
}
#Line20 {
  border-color: transparent;
  border-style: solid;
  border-width: 13px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  height: 0;
  line-height: 0px !important;
  margin: 0;
  padding: 0;
}
#Button1 {
  border: 1px #343c49 solid;
  border-radius: 4px;
  background-color: #343c49;
  background-image: none;
  color: #ffffff;
  font-family: Arial;
  font-weight: bold;
  font-size: 13px;
}
#Line30 {
  border-color: transparent;
  border-style: solid;
  border-width: 12px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  height: 0;
  line-height: 0px !important;
  margin: 0;
  padding: 0;
}
#wb_LayoutGrid5 {
  clear: both;
  position: relative;
  table-layout: fixed;
  display: table;
  text-align: center;
  width: 100%;
  background-color: transparent;
  background-image: none;
  border: 0px #cccccc solid;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#LayoutGrid5 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0px 15px 0px 15px;
  margin-right: auto;
  margin-left: auto;
}
#LayoutGrid5 .row {
  margin-right: -15px;
  margin-left: -15px;
}
#LayoutGrid5 .col-1,
#LayoutGrid5 .col-2,
#LayoutGrid5 .col-3 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 0px;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  position: relative;
}
#LayoutGrid5 {
  width: 1049px;
}
#LayoutGrid5 .col-1,
#LayoutGrid5 .col-2,
#LayoutGrid5 .col-3 {
  float: left;
}
#LayoutGrid5 .col-1 {
  background-color: transparent;
  background-image: none;
  width: 8.33333333%;
  text-align: center;
}
#LayoutGrid5 .col-2 {
  background-color: transparent;
  background-image: none;
  width: 8.33333333%;
  text-align: center;
}
#LayoutGrid5 .col-3 {
  background-color: transparent;
  background-image: none;
  width: 83.33333333%;
  text-align: center;
}
#LayoutGrid5:before,
#LayoutGrid5:after,
#LayoutGrid5 .row:before,
#LayoutGrid5 .row:after {
  display: table;
  content: " ";
}
#LayoutGrid5:after,
#LayoutGrid5 .row:after {
  clear: both;
}
@media (max-width: 1024px) {
  #LayoutGrid5 {
    width: 100%;
  }
  #LayoutGrid5 .col-1,
  #LayoutGrid5 .col-2,
  #LayoutGrid5 .col-3 {
    float: none;
    width: 100%;
  }
}
#Line21 {
  border-color: transparent;
  border-style: solid;
  border-width: 141px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  height: 0;
  line-height: 0px !important;
  margin: 0;
  padding: 0;
}
#wb_Text2 {
  background-color: transparent;
  background-image: none;
  border: 0px #000000 solid;
  padding: 0;
  margin: 0;
  text-align: center;
}
#wb_Text2 div {
  text-align: center;
}
#Line22 {
  border-color: transparent;
  border-style: solid;
  border-width: 47px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  height: 0;
  line-height: 0px !important;
  margin: 0;
  padding: 0;
}
#USER {
  border: 2px #343c49 solid;
  border-radius: 4px;
  background-color: transparent;
  background-image: none;
  color: #343c49;
  font-family: Arial;
  font-weight: bold;
  font-size: 17px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 4px 4px 4px 4px;
  text-align: center;
  vertical-align: middle;
}
#USER:focus {
  border-color: #66afe9;
  -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075),
    0px 0px 8px rgba(102, 175, 233, 0.6);
  -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075),
    0px 0px 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075),
    0px 0px 8px rgba(102, 175, 233, 0.6);
  outline: 0;
}
#Line7 {
  border-color: transparent;
  border-style: solid;
  border-width: 11px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  height: 0;
  line-height: 0px !important;
  margin: 0;
  padding: 0;
}
#PASSWORD {
  border: 2px #343c49 solid;
  border-radius: 4px;
  background-color: transparent;
  background-image: none;
  color: #343c49;
  font-family: Arial;
  font-weight: bold;
  font-size: 17px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 4px 4px 4px 4px;
  text-align: center;
  vertical-align: middle;
}
#PASSWORD:focus {
  border-color: #66afe9;
  -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075),
    0px 0px 8px rgba(102, 175, 233, 0.6);
  -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075),
    0px 0px 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075),
    0px 0px 8px rgba(102, 175, 233, 0.6);
  outline: 0;
}
#Line23 {
  border-color: transparent;
  border-style: solid;
  border-width: 11px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  height: 0;
  line-height: 0px !important;
  margin: 0;
  padding: 0;
}
#Line24 {
  border-color: transparent;
  border-style: solid;
  border-width: 15px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  height: 0;
  line-height: 0px !important;
  margin: 0;
  padding: 0;
}
#Button2 {
  border: 1px #ffffff solid;
  border-radius: 4px;
  background-color: #343c49;
  background-image: none;
  color: #ffffff;
  font-family: Arial;
  font-weight: bold;
  font-size: 13px;
}
#Line25 {
  border-color: transparent;
  border-style: solid;
  border-width: 267px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  height: 0;
  line-height: 0px !important;
  margin: 0;
  padding: 0;
}
#wb_Text1 {
  background-color: transparent;
  background-image: none;
  border: 0px #000000 solid;
  padding: 0;
  margin: 0;
  text-align: center;
}
#wb_Text1 div {
  text-align: center;
}
#Line26 {
  border-color: transparent;
  border-style: solid;
  border-width: 42px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  height: 0;
  line-height: 0px !important;
  margin: 0;
  padding: 0;
}
#Label19 {
  border: 0px #343c49 solid;
  border-radius: 4px;
  background-color: transparent;
  background-image: none;
  color: #343c49;
  font-family: Georgia;
  font-weight: bold;
  font-size: 16px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 4px 4px 4px 4px;
  text-align: center;
  vertical-align: top;
}
#Line27 {
  border-color: transparent;
  border-style: solid;
  border-width: 11px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  height: 0;
  line-height: 0px !important;
  margin: 0;
  padding: 0;
}
#wb_RadioButton4 {
  position: relative;
}
#wb_RadioButton4,
#wb_RadioButton4 *,
#wb_RadioButton4 ::before,
#wb_RadioButton4 ::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#wb_RadioButton4 input[type="radio"] {
  position: absolute;
  padding: 0;
  margin: 0;
  opacity: 0;
  z-index: 1;
  width: 20px;
  height: 20px;
  left: 0;
  top: 0;
}
#wb_RadioButton4 label {
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  padding: 0;
}
#wb_RadioButton4 label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0;
  top: 0;
  background-color: #ffffff;
  border: 2px #000000 solid;
  border-radius: 50%;
}
#wb_RadioButton4 label::after {
  display: inline-block;
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0;
  top: 0;
  padding: 0;
  text-align: center;
  line-height: 20px;
  border-radius: 50%;
  color: #ffffff;
  content: " ";
  -webkit-transform: scale(0, 0);
  -moz-transform: scale(0, 0);
  transform: scale(0, 0);
}
#wb_RadioButton4 input[type="radio"]:checked + label::after {
  background-color: #000000;
  background-image: none;
  border-color: #000000;
  -webkit-transform: scale(0.8, 0.8);
  -moz-transform: scale(0.8, 0.8);
  transform: scale(0.8, 0.8);
}
#wb_RadioButton4 input[type="radio"]:focus + label::before {
  outline: thin dotted;
}
#Line33 {
  border-color: transparent;
  border-style: solid;
  border-width: 19px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  height: 0;
  line-height: 0px !important;
  margin: 0;
  padding: 0;
}
#Label20 {
  border: 0px #343c49 solid;
  border-radius: 4px;
  background-color: transparent;
  background-image: none;
  color: #343c49;
  font-family: Georgia;
  font-weight: bold;
  font-size: 16px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 4px 4px 4px 4px;
  text-align: center;
  vertical-align: top;
}
#Line34 {
  border-color: transparent;
  border-style: solid;
  border-width: 9px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  height: 0;
  line-height: 0px !important;
  margin: 0;
  padding: 0;
}
#wb_RadioButton5 {
  position: relative;
}
#wb_RadioButton5,
#wb_RadioButton5 *,
#wb_RadioButton5 ::before,
#wb_RadioButton5 ::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#wb_RadioButton5 input[type="radio"] {
  position: absolute;
  padding: 0;
  margin: 0;
  opacity: 0;
  z-index: 1;
  width: 20px;
  height: 20px;
  left: 0;
  top: 0;
}
#wb_RadioButton5 label {
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  padding: 0;
}
#wb_RadioButton5 label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0;
  top: 0;
  background-color: #ffffff;
  border: 2px #000000 solid;
  border-radius: 50%;
}
#wb_RadioButton5 label::after {
  display: inline-block;
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0;
  top: 0;
  padding: 0;
  text-align: center;
  line-height: 20px;
  border-radius: 50%;
  color: #ffffff;
  content: " ";
  -webkit-transform: scale(0, 0);
  -moz-transform: scale(0, 0);
  transform: scale(0, 0);
}
#wb_RadioButton5 input[type="radio"]:checked + label::after {
  background-color: #000000;
  background-image: none;
  border-color: #000000;
  -webkit-transform: scale(0.8, 0.8);
  -moz-transform: scale(0.8, 0.8);
  transform: scale(0.8, 0.8);
}
#wb_RadioButton5 input[type="radio"]:focus + label::before {
  outline: thin dotted;
}
#Line35 {
  border-color: transparent;
  border-style: solid;
  border-width: 11px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  height: 0;
  line-height: 0px !important;
  margin: 0;
  padding: 0;
}
#Button4 {
  border: 1px #ffffff solid;
  border-radius: 4px;
  background-color: #343c49;
  background-image: none;
  color: #ffffff;
  font-family: Arial;
  font-weight: bold;
  font-size: 13px;
}
#CONFIRMPASSWORD {
  border: 2px #343c49 solid;
  border-radius: 4px;
  background-color: transparent;
  background-image: none;
  color: #343c49;
  font-family: Arial;
  font-weight: bold;
  font-size: 17px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 4px 4px 4px 4px;
  text-align: center;
  vertical-align: middle;
}
#CONFIRMPASSWORD:focus {
  border-color: #66afe9;
  -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075),
    0px 0px 8px rgba(102, 175, 233, 0.6);
  -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075),
    0px 0px 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075),
    0px 0px 8px rgba(102, 175, 233, 0.6);
  outline: 0;
}
#Layer1 {
  background-color: #1e90ff;
  background-image: none;
  border: 1px #cccccc solid;
  border-radius: 6px;
}
#wb_Text7 {
  background-color: transparent;
  background-image: none;
  border: 0px #000000 solid;
  padding: 0;
  margin: 0;
  text-align: center;
}
#wb_Text7 div {
  text-align: center;
}
#wb_LayoutGrid6 {
  clear: both;
  position: relative;
  table-layout: fixed;
  display: table;
  text-align: center;
  width: 100%;
  background-color: transparent;
  background-image: none;
  border: 0px #cccccc solid;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#LayoutGrid6 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0px 15px 0px 15px;
  margin-right: auto;
  margin-left: auto;
}
#LayoutGrid6 .row {
  margin-right: -15px;
  margin-left: -15px;
}
#LayoutGrid6 .col-1,
#LayoutGrid6 .col-2,
#LayoutGrid6 .col-3 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 0px;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  position: relative;
}
#LayoutGrid6 {
  width: 1049px;
}
#LayoutGrid6 .col-1,
#LayoutGrid6 .col-2,
#LayoutGrid6 .col-3 {
  float: left;
}
#LayoutGrid6 .col-1 {
  background-color: transparent;
  background-image: none;
  width: 8.33333333%;
  text-align: center;
}
#LayoutGrid6 .col-2 {
  background-color: transparent;
  background-image: none;
  width: 8.33333333%;
  text-align: center;
}
#LayoutGrid6 .col-3 {
  background-color: transparent;
  background-image: none;
  width: 83.33333333%;
  text-align: center;
}
#LayoutGrid6:before,
#LayoutGrid6:after,
#LayoutGrid6 .row:before,
#LayoutGrid6 .row:after {
  display: table;
  content: " ";
}
#LayoutGrid6:after,
#LayoutGrid6 .row:after {
  clear: both;
}
@media (max-width: 1024px) {
  #LayoutGrid6 {
    width: 100%;
  }
  #LayoutGrid6 .col-1,
  #LayoutGrid6 .col-2,
  #LayoutGrid6 .col-3 {
    float: none;
    width: 100%;
  }
}
#Shape2 {
  top: 0px;
  width: 45px;
  height: 42px;
  background-color: #1e90ff;
  background-image: none;
  border: 2px #ffffff solid;
}
#Shape2:hover {
  background-color: #00ffff;
  background-image: none;
  border: 2px #ffffff solid;
}
#Shape2_text {
  position: absolute;
  left: 1px;
  top: 3px;
  width: 43px;
  height: 38px;
  overflow: hidden;
  text-align: center;
}
#Shape3 {
  top: 0px;
  width: 115px;
  height: 42px;
  background-color: #1e90ff;
  background-image: none;
  border: 2px #ffffff solid;
}
#Shape3:hover {
  background-color: #00ffff;
  background-image: none;
  border: 2px #ffffff solid;
}
#Shape3_text {
  position: absolute;
  left: 1px;
  top: 14px;
  width: 113px;
  height: 27px;
  overflow: hidden;
  text-align: center;
}
#Shape4 {
  top: 0px;
  width: 111px;
  height: 42px;
  background-color: #1e90ff;
  background-image: none;
  border: 2px #ffffff solid;
}
#Shape4:hover {
  background-color: #00ffff;
  background-image: none;
  border: 2px #ffffff solid;
}
#Shape4_text {
  position: absolute;
  left: 1px;
  top: 5px;
  width: 109px;
  height: 36px;
  overflow: hidden;
  text-align: center;
}
#Line37 {
  border-color: transparent;
  border-style: solid;
  border-width: 263px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  height: 0;
  line-height: 0px !important;
  margin: 0;
  padding: 0;
}
#Line38 {
  border-color: transparent;
  border-style: solid;
  border-width: 20px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  height: 0;
  line-height: 0px !important;
  margin: 0;
  padding: 0;
}
#wb_Shape4 {
  position: absolute;
  left: 213px;
  top: 5px;
  width: 115px;
  height: 46px;
  z-index: 66;
}
#Line30 {
  display: block;
  width: 100%;
  z-index: 43;
}
#DHCP {
  display: inline-block;
}
#Line6 {
  display: block;
  width: 100%;
  z-index: 41;
}
#wb_uid1 {
  color: #898d96;
  font-family: Arial;
  font-size: 32px;
}
#AuthBM {
  visibility: hidden;
}
#wb_RadioButton4 {
  display: inline-block;
  width: 20px;
  height: 20px;
  z-index: 72;
}
#Label19 {
  display: block;
  width: 100%;
  height: 36px;
  line-height: 36px;
  z-index: 70;
}
#CONFIRMPASSWORD {
  display: block;
  width: 100%;
  height: 35px;
  line-height: 35px;
  z-index: 60;
}
#Line7 {
  display: block;
  width: 100%;
  z-index: 57;
}
#Line20 {
  display: block;
  width: 100%;
  z-index: 51;
}
#wb_uid2 {
  color: #898d96;
  font-family: Arial;
  font-size: 32px;
}
#Line31 {
  display: block;
  width: 100%;
  z-index: 34;
}
#NetworksetupBM {
  visibility: hidden;
}
#wb_RadioButton5 {
  display: inline-block;
  width: 20px;
  height: 20px;
  z-index: 76;
}
#Line21 {
  display: block;
  width: 100%;
  z-index: 67;
}
#wb_uid3 {
  color: #898d96;
  font-family: Arial;
  font-size: 27px;
}
#Line10 {
  display: block;
  width: 100%;
  z-index: 20;
}
#Line8 {
  display: block;
  width: 100%;
  z-index: 18;
}
#wb_stationbt {
  display: inline-block;
  width: 20px;
  height: 20px;
  z-index: 17;
}
#scannet_Label {
  display: block;
  width: 100%;
  height: 39px;
  line-height: 39px;
  z-index: 11;
}
#Line32 {
  display: block;
  width: 100%;
  z-index: 4;
}
#Line33 {
  display: block;
  width: 100%;
  z-index: 73;
}
#wb_uid4 {
  color: #ffffff;
  font-family: Arial;
  font-size: 21px;
}
#Line22 {
  display: block;
  width: 100%;
  z-index: 55;
}
#Line9 {
  display: block;
  width: 100%;
  z-index: 45;
}
#Line11 {
  display: block;
  width: 100%;
  z-index: 28;
}
#Banner2 {
  position: absolute;
  left: 8px;
  top: 58px;
  width: 154px;
  height: 27px;
  z-index: 5;
}
#Line34 {
  display: block;
  width: 100%;
  z-index: 75;
}
#wb_uid5 {
  color: #ffffff;
  font-family: Arial Black;
  font-size: 32px;
}
#Layer1 {
  position: absolute;
  text-align: left;
  left: 6px;
  top: 0px;
  width: 99.9047%;
  height: 59px;
  z-index: 83;
}
#Line23 {
  display: block;
  width: 100%;
  z-index: 59;
}
#wb_multibt {
  display: inline-block;
  width: 20px;
  height: 20px;
  z-index: 25;
}
#Line12 {
  display: block;
  width: 100%;
  z-index: 22;
}
#Line35 {
  display: block;
  width: 100%;
  z-index: 77;
}
#RadioButton4 {
  display: inline-block;
}
#wb_uid6 {
  color: #ffffff;
  font-family: Arial Black;
  font-size: 13px;
}
#Line24 {
  display: block;
  width: 100%;
  z-index: 61;
}
#DNS {
  display: block;
  width: 100%;
  height: 41px;
  line-height: 41px;
  z-index: 50;
}
#Line13 {
  display: block;
  width: 100%;
  z-index: 24;
}
#Label7 {
  display: block;
  width: 100%;
  height: 30px;
  line-height: 30px;
  z-index: 15;
}
#RadioButton5 {
  display: inline-block;
}
#wb_uid7 {
  color: #ffffff;
  font-family: Arial Black;
  font-size: 13px;
}
#Line25 {
  display: block;
  width: 100%;
  z-index: 53;
}
#Line36 {
  display: block;
  width: 100%;
  z-index: 39;
}
#Line14 {
  display: block;
  width: 100%;
  z-index: 30;
}
#multibt {
  display: inline-block;
}
#Line37 {
  display: block;
  width: 100%;
  z-index: 79;
}
#Line26 {
  display: block;
  width: 100%;
  z-index: 69;
}
#wb_uid8 {
  color: #898d96;
  font-family: Arial;
  font-size: 32px;
}
#wb_Text7 {
  position: absolute;
  left: 588px;
  top: 16px;
  width: 237px;
  height: 24px;
  text-align: center;
  z-index: 63;
}
#IP {
  display: block;
  width: 100%;
  height: 41px;
  line-height: 41px;
  z-index: 44;
}
#Label9 {
  display: block;
  width: 100%;
  height: 30px;
  line-height: 30px;
  z-index: 40;
}
#Line15 {
  display: block;
  width: 100%;
  z-index: 32;
}
#stationbt {
  display: inline-block;
}
#wb_Picture1 {
  display: block;
  width: 100%;
  height: 259px;
  z-index: 9;
}
#Label20 {
  display: block;
  width: 100%;
  height: 36px;
  line-height: 36px;
  z-index: 74;
}
#Line27 {
  display: block;
  width: 100%;
  z-index: 71;
}
#Line16 {
  display: block;
  width: 100%;
  z-index: 36;
}
#Line38 {
  display: block;
  width: 100%;
  z-index: 10;
}
#GATEWAY {
  display: block;
  width: 100%;
  height: 41px;
  line-height: 41px;
  z-index: 48;
}
#Line17 {
  display: block;
  width: 100%;
  z-index: 8;
}
#Line28 {
  display: block;
  width: 100%;
  z-index: 1;
}
#Line18 {
  display: block;
  width: 100%;
  z-index: 47;
}
#Label11 {
  display: block;
  width: 100%;
  height: 30px;
  line-height: 30px;
  z-index: 19;
}
#Line29 {
  display: block;
  width: 100%;
  z-index: 2;
}
#wb_NetworksetupBM {
  position: absolute;
  left: 1056px;
  top: 649px;
  width: 20px;
  height: 20px;
  z-index: 81;
}
#USER {
  display: block;
  width: 100%;
  height: 35px;
  line-height: 35px;
  z-index: 56;
}
#Line19 {
  display: block;
  width: 100%;
  z-index: 49;
}
#APname {
  display: block;
  width: 100%;
  height: 35px;
  line-height: 35px;
  z-index: 31;
}
#Label12 {
  display: block;
  width: 100%;
  height: 30px;
  line-height: 30px;
  z-index: 23;
}
#wb_APbt {
  display: inline-block;
  width: 20px;
  height: 20px;
  z-index: 21;
}
#SUBNET {
  display: block;
  width: 100%;
  height: 41px;
  line-height: 41px;
  z-index: 46;
}
#wb_DHCP {
  display: inline-block;
  width: 28px;
  height: 25px;
  z-index: 42;
}
#SSID {
  display: block;
  width: 100%;
  height: 35px;
  line-height: 35px;
  z-index: 27;
}
#Line1 {
  display: block;
  width: 100%;
  z-index: 12;
}
#Panel_Layer {
  display: none;
  text-align: left;
}
#Button1 {
  display: inline-block;
  width: 145px;
  height: 36px;
}
#Line2 {
  display: block;
  width: 100%;
  z-index: 26;
}
#wb_AuthBM {
  position: absolute;
  left: 1056px;
  top: 1260px;
  width: 20px;
  height: 20px;
  z-index: 82;
}
#wb_CssMenu2 {
  position: absolute;
  left: 2px;
  top: 94px;
  width: 229px;
  height: 318px;
  text-align: center;
  z-index: 6;
}
#Button2 {
  display: inline-block;
  width: 194px;
  height: 36px;
}
#Line3 {
  display: block;
  width: 100%;
  z-index: 14;
}
#wb_Shape1 {
  position: absolute;
  left: 8px;
  top: 7px;
  width: 49px;
  height: 49px;
  z-index: 7;
}
#wb_Shape2 {
  position: absolute;
  left: 4px;
  top: 5px;
  width: 49px;
  height: 46px;
  z-index: 64;
}
#Line4 {
  display: block;
  width: 100%;
  z-index: 37;
}
#Button3 {
  display: inline-block;
  width: 120px;
  height: 36px;
}
#presharedkey {
  display: block;
  width: 100%;
  height: 35px;
  line-height: 35px;
  z-index: 29;
}
#Combobox1 {
  display: block;
  width: 100%;
  height: 34px;
  z-index: 13;
}
#wifisetupbm {
  visibility: hidden;
}
#Button4 {
  display: inline-block;
  width: 114px;
  height: 31px;
}
#wb_Shape3 {
  position: absolute;
  left: 82px;
  top: 5px;
  width: 119px;
  height: 46px;
  z-index: 65;
}
#PASSWORD {
  display: block;
  width: 100%;
  height: 35px;
  line-height: 35px;
  z-index: 58;
}
#APsharedkey {
  display: block;
  width: 100%;
  height: 35px;
  line-height: 35px;
  z-index: 33;
}
#APbt {
  display: inline-block;
}
#Line5 {
  display: block;
  width: 100%;
  z-index: 16;
}
#wb_wifisetupbm {
  display: inline-block;
  width: 100%;
  z-index: 0;
}
#wb_uid0 {
  color: #000000;
  font-family: Arial;
  font-size: 35px;
}
